/* You can add global styles to this file, and also import other style files */
body {
    background-color: burlywood;
    background-image: url('assets/w-logo.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
}